In [23]:
import pandas as pd
from datetime import datetime
import yaml
import numpy as np

In [16]:
def openYaml(yamlFilePath : str) -> dict: 
    yamlFile = open(yamlFilePath)
    parsed = yaml.load(yamlFile, Loader =yaml.FullLoader)
    return(parsed)

In [17]:
demoData = pd.read_csv("demo.csv")
wages = openYaml("employee.yml")

In [18]:
demoData

,date,client,time_in,time_out,tasks,employees
0,3/15/21,Jenny,10:00 AM,11:00 AM,"pull weeds, trim hedges, blow","Jack, Paco"
1,3/15/21,Jim,11:00 AM,2:00 PM,"pull weeds, cut branches, fertilize, blow","Jack, Paco"
2,3/16/21,Heather,7:00 AM,12:00 PM,"pull weeds, fertilize, blow",Jack

In [28]:
timeList = []
for index,column in demoData.iterrows():
    startTime = datetime.strptime(column["time_in"], "%I:%M %p")
    endTime = datetime.strptime(column["time_out"], "%I:%M %p")
    totalTimeDelta = endTime - startTime
    totalTime = totalTimeDelta.seconds / 3600
    timeList.append(totalTime)
    
demoData["total_time"] = timeList

In [29]:
demoData

,date,client,time_in,time_out,tasks,employees,total_time
0,3/15/21,Jenny,10:00 AM,11:00 AM,"pull weeds, trim hedges, blow","Jack, Paco",1.0
1,3/15/21,Jim,11:00 AM,2:00 PM,"pull weeds, cut branches, fertilize, blow","Jack, Paco",3.0
2,3/16/21,Heather,7:00 AM,12:00 PM,"pull weeds, fertilize, blow",Jack,5.0

In [36]:
laborCost = []
for index,column in demoData.iterrows():
    employees = column["employees"].split(", ")
    
    _laborCost = 0
    
    for i,e in enumerate(employees):
        if e in wages.keys():
            _labor = wages[e] * column["total_time"]
            _laborCost += _labor
    
    laborCost.append(_laborCost)
        
demoData["labor_cost"] = laborCost

In [38]:
demoData

,date,client,time_in,time_out,tasks,employees,total_time,labor_cost
0,3/15/21,Jenny,10:00 AM,11:00 AM,"pull weeds, trim hedges, blow","Jack, Paco",1.0,30.0
1,3/15/21,Jim,11:00 AM,2:00 PM,"pull weeds, cut branches, fertilize, blow","Jack, Paco",3.0,90.0
2,3/16/21,Heather,7:00 AM,12:00 PM,"pull weeds, fertilize, blow",Jack,5.0,85.0